In [1]:
import pandas as pd

In [2]:
r_cols = ['user_id', 'movie_id', 'rating']
# importa somente as 3 primeiras colunas, separadas por tabulação
ratings = pd.read_csv('coding_files/u.data', sep='\t', names=r_cols, usecols=range(3))
ratings.head()

   user_id  movie_id  rating
0        0        50       5
1        0       172       5
2        0       133       1
3      196       242       3
4      186       302       3

In [3]:
# agrupa por movie_id e calcula a média e a contagem de ratings
movieProp = ratings.groupby('movie_id').agg({'rating': [pd.Series.mean, pd.Series.count]})
movieProp.head()

            rating
              mean count
movie_id
1         3.878319   452
2         3.206107   131
3         3.033333    90
4         3.550239   209
5         3.302326    86

In [ ]:
movieNumRatings = movieProp['rating']['count']
movieNormalizedNumRatings = movieNumRatings.apply(lambda x: (x - movieNumRatings.min()) / (movieNumRatings.max() - movieNumRatings.min()))
movieNormalizedNumRatings.head()