In [17]:
import numpy as np
import pandas as pd

In [18]:
d = {
    'A': [1, 2, np.nan],
    'B': [5, np.nan, np.nan],
    'C': [1, 2, 3]
    }
print(d)

{'A': [1, 2, nan], 'B': [5, nan, nan], 'C': [1, 2, 3]}

In [19]:
df = pd.DataFrame(d)
print(df)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [20]:
# thresh = s√≥ vai dropar os nan se tiver x quantidades por linha
df.dropna(thresh = 2) # dropa os nan

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [21]:
df.fillna(value = 0) # substitui os nan por algo

     A    B  C
0  1.0  5.0  1
1  2.0  0.0  2
2  0.0  0.0  3

In [22]:
df['A'].fillna(value = df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

In [23]:
df.fillna(method = 'ffill') # foward fill, preenche o valor com o valor anterior

C:\Users\kaiqu\AppData\Local\Temp\ipykernel_17256\806886188.py:1: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df.fillna(method = 'ffill') # foward fill, preenche o valor com o valor anterior

     A    B  C
0  1.0  5.0  1
1  2.0  5.0  2
2  2.0  5.0  3