In [33]:
import pandas as pd
import numpy as np

In [34]:
from numpy.random import randn
np.random.seed(101)

In [35]:
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [36]:
df > 0

       W      X      Y      Z
A   True   True   True   True
B   True  False  False   True
C  False   True   True  False
D   True  False  False   True
E   True   True   True   True

In [37]:
bol = df > 0

In [38]:
print(df[bol]) # desse jeito printa os valores maiores q 0, n só true e false

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118       NaN       NaN  0.605965
C       NaN  0.740122  0.528813       NaN
D  0.188695       NaN       NaN  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [39]:
df[df['W'] > 0] # vai mostrar apenas as linhas em que W > 0

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [40]:
df[df['W'] > 0]['Y'] # retorna os valores de Y os quais W > 0

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [41]:
# essas três linhas são equivalentes ao bloco de cima
bol = df['W']>0
df2 = df[bol]
df2['Y']

A    0.907969
B   -0.848077
D   -0.933237
E    2.605967
Name: Y, dtype: float64

In [42]:
df[(df['W']>0) & (df['Y'])] # o & substitui o and, modo de lidar com os Series
df[(df['W']>0) | (df['Y'])] # o | substitui o or

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [43]:
df.reset_index(inplace=True) # agora o indice virou uma ocluna

In [44]:
col = 'RS RJ SP AM SC'.split()
print(col)

['RS', 'RJ', 'SP', 'AM', 'SC']

In [45]:
df['Estado'] = col  # único critério pra encaixar é ter o mesmo tamanho
print(df)

  index         W         X         Y         Z Estado
0     A  2.706850  0.628133  0.907969  0.503826     RS
1     B  0.651118 -0.319318 -0.848077  0.605965     RJ
2     C -2.018168  0.740122  0.528813 -0.589001     SP
3     D  0.188695 -0.758872 -0.933237  0.955057     AM
4     E  0.190794  1.978757  2.605967  0.683509     SC

In [46]:
df.set_index('Estado', inplace=True)  # comando para tornar uma coluna como índice
print(df)

       index         W         X         Y         Z
Estado
RS         A  2.706850  0.628133  0.907969  0.503826
RJ         B  0.651118 -0.319318 -0.848077  0.605965
SP         C -2.018168  0.740122  0.528813 -0.589001
AM         D  0.188695 -0.758872 -0.933237  0.955057
SC         E  0.190794  1.978757  2.605967  0.683509