In [20]:
import numpy as np
import pandas as pd

In [21]:
# Niveis de Índice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside, inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [22]:
"""
zip(): 
conectou uma lista com a outra, transformando em tuplas, 
cada um com cada umbaseado no seu indice com a outra
"""
hier_index = list(zip(outside, inside))
print(hier_index)

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [23]:
"""
criou um indice multinivel no pandas,
um índice secundário
"""
hier_index = pd.MultiIndex.from_tuples(hier_index)
print(hier_index)

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [24]:
# cria um índice secundário, multinivel
df = pd.DataFrame(np.random.randn(6, 2), index=hier_index, columns=['A', 'B'])
print(df)

             A         B
G1 1 -0.923953 -0.497508
   2 -1.982310  0.775095
   3  0.850492 -0.661296
G2 1  1.123980  0.603235
   2  0.109550 -0.408313
   3 -0.148576  0.718828

In [25]:
df.loc['G1'] # pegou apenas o índice multinível g1

          A         B
1 -0.923953 -0.497508
2 -1.982310  0.775095
3  0.850492 -0.661296

In [26]:
df.loc['G1'].loc[1] # pegou no índice g1, a linha 1

A   -0.923953
B   -0.497508
Name: 1, dtype: float64

In [27]:
# índice interno = numero
# índice externo = grupo
df.index.names = ['Grupo', 'Numero']
print(df)

                     A         B
Grupo Numero
G1    1      -0.923953 -0.497508
      2      -1.982310  0.775095
      3       0.850492 -0.661296
G2    1       1.123980  0.603235
      2       0.109550 -0.408313
      3      -0.148576  0.718828

In [28]:
df.xs('G1') # cross section = puxa elementos do nível interno sem mencionar o externo

               A         B
Numero
1      -0.923953 -0.497508
2      -1.982310  0.775095
3       0.850492 -0.661296

In [30]:
df.xs(1, level='Numero')

              A         B
Grupo
G1    -0.923953 -0.497508
G2     1.123980  0.603235