In [22]:
import pandas as pd
import numpy as np

In [23]:
np.random.seed(101) # todos os números aleatorios serão igual no computador que usar a seed

In [24]:
df = pd.DataFrame(np.random.randn(5, 4), index = 'A B C D E'.split(), columns='W X Y Z'.split()) # 5 linhas por 4 colunas de dist normal e splita pra dividir
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [25]:
df['W'] # acessa como se fosse dicionário

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [26]:
type(df['W']) # é uma series

pandas.core.series.Series

In [27]:
type(df)    # dataframe

pandas.core.frame.DataFrame

In [28]:
df[['W', 'Z']]

          W         Z
A  2.706850  0.503826
B  0.651118  0.605965
C -2.018168 -0.589001
D  0.188695  0.955057
E  0.190794  0.683509

In [29]:
df.W # também funciona, mas não é aconselhavel por parecer método ou poder ser um

A    2.706850
B    0.651118
C   -2.018168
D    0.188695
E    0.190794
Name: W, dtype: float64

In [30]:
df['new'] = df['W'] + df['X'] # new não existe, mas simplesmente por passar um valor a ele, cria uma nova no final
print(df)

          W         X         Y         Z       new
A  2.706850  0.628133  0.907969  0.503826  3.334983
B  0.651118 -0.319318 -0.848077  0.605965  0.331800
C -2.018168  0.740122  0.528813 -0.589001 -1.278046
D  0.188695 -0.758872 -0.933237  0.955057 -0.570177
E  0.190794  1.978757  2.605967  0.683509  2.169552

In [31]:
# df = df.drop('new', axis=1)           # .drop() elimina uma coluna do dataframe definitivamente
df.drop('new', axis=1, inplace=True)    # também elimina, faz a alteração diretamente (preferível)
print(df)

          W         X         Y         Z
A  2.706850  0.628133  0.907969  0.503826
B  0.651118 -0.319318 -0.848077  0.605965
C -2.018168  0.740122  0.528813 -0.589001
D  0.188695 -0.758872 -0.933237  0.955057
E  0.190794  1.978757  2.605967  0.683509

In [34]:
df.loc['A','W'] # df.loc['linha', 'coluna']

2.706849839399938

In [35]:
df.loc['A']     # puxa a linha inteira

W    2.706850
X    0.628133
Y    0.907969
Z    0.503826
Name: A, dtype: float64

In [36]:
df.loc[['A', 'B'], ['X', 'Y', 'Z']] # pega essas linhas e colunas e cria uma coleção

          X         Y         Z
A  0.628133  0.907969  0.503826
B -0.319318 -0.848077  0.605965

In [37]:
df.iloc[1:4, 2:] # iloc quer selecionar dados na notação numpy, índices (prefiro)

          Y         Z
B -0.848077  0.605965
C  0.528813 -0.589001
D -0.933237  0.955057