In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']

In [3]:
minha_lista = [10, 20, 30]
arr = np.array([10, 20, 30])
d = {
    'a': 10,
    'b': 20,
    'c': 30
    }

In [4]:
pd.Series(data = minha_lista, index = labels) # cria a tabelinha

a    10
b    20
c    30
dtype: int64

In [5]:
series = pd.Series(data = minha_lista, index = labels)

In [6]:
series['b'] # pega o valor inscrito na lista

20

In [7]:
pd.Series(labels, minha_lista) # inverte a ordem das colunas

10    a
20    b
30    c
dtype: object

In [8]:
pd.Series(arr, labels) # agora não é mais do lista, agora usa da array numpy

a    10
b    20
c    30
dtype: int32

In [9]:
pd.Series([sum, print, len])

0      <built-in function sum>
1    <built-in function print>
2      <built-in function len>
dtype: object

In [10]:
ser1 = pd.Series([1,2,3,4], index=['EUA', 'Alemanha', 'URSS', 'Japão'])
print(ser1)

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [11]:
ser2 = pd.Series([1,2,3,4], index=['Alemanha', 'EUA', 'Itália', 'Japão'])
print(ser2)

Alemanha    1
EUA         2
Itália      3
Japão       4
dtype: int64

In [12]:
ser1 + ser2 # somou os que ele encontrou, mas não conseguiu o da URSS e Itália por não estarem no outro arr

Alemanha    3.0
EUA         3.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64

In [13]:
ser1 - ser2 # apenas um teste

Alemanha    1.0
EUA        -1.0
Itália      NaN
Japão       0.0
URSS        NaN
dtype: float64